.contents p {
    margin-top: -55px;
    text-align: center;
}

.formbody {
	font-family: "Open Sans";
    font-weight: 400;
    border-radius: 9px;
    border: 0px solid rgb(255, 255, 255);
    width: 404px;
    height: 650x;
    box-shadow: 10px 10px 20px #D3D3D3;
    opacity: 1;
    background-color: rgb(64, 204, 237);
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
}

.arrow {

	font-weight: 400;
	border-radius: 6px;
	border: 1px solid rgb(241, 244, 245);
	width: 417px;
	height: 58px;
	box-shadow: 10px 30px 40px #D3D3D3;
	opacity: 1;
	background-color: rgb(255, 255, 255);
	background-size: auto;
	position: relative;
	float: left;
	margin-top: 70px;
	margin-left: 150px;

}

.label {
	color: rgb(255, 255, 255);
	font-family: "Open Sans";
	font-weight: 400;
	position: relative;
	margin-left: 20px;
}

.input {
	margin-left: 20px;
	margin-top: 10px;
	font-weight: 400;
	font-size: 25px;
	border-radius: 6px;
	width: 350px;
	height: 45px;
	border: 1px solid rgb(241, 244, 245);
}

.button {
	
	margin-top: 10px;
	font-weight: 400;
	font-size: 20px;
	font-family: "Arial";
	border-radius: 6px;
	width: 300px;
	height: 60px;
	border: 2px solid white;
	background-color: rgb(64, 204, 237);
	position: relative;
	color: white;
	padding: 10px;
}
button:hover { 
    background-color: green
}

.users {
	margin-top: 100px;
	text-align: center;
	font-family: "Open Sans";
	font-weight: 400; 
	border-radius: 5px; 
	border: 1px solid rgb(223, 223, 223); 
	width: 916px; 
	height: 274px; 
	opacity: 1; 
	background-color: rgb(255, 255, 255); 
	background-size: auto;
	box-shadow: 10px 10px 20px #D3D3D3;
}


.user-image2 {
	font-family: "Open Sans"; 
	font-weight: 400; 
	border: 0px solid rgb(5, 92, 179); 
	border-radius: 50%;
	width: 68px; 
	height: 66px; 
	opacity: 1; 
	background-color: green;  
	background-position: center; 
	position: relative;
	float: right;
	margin-right: 350px;
	margin-top: 30px;	
}

.user-image1 {
	font-family: "Open Sans"; 
	font-weight: 400; 
	border: 0px solid rgb(5, 92, 179); 
	border-radius: 50%;
	width: 68px; 
	height: 66px; 
	opacity: 1; 
	background-color: green;  
	background-position: center; 
	position: relative;
	float: right;
	margin-right: 380px;
	margin-top: 30px;
}
